<div th:fragment="header" th:remove="tag" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<header class="header-desktop3 d-none d-lg-block">
		<div class="section__content section__content--p35">
			<div class="header3-wrap">
				<div class="header__logo">
					<a href="/"> <span style="color: #fff; font-weight: bold; font-size:larger"> QUẢN LÝ BÁN HÀNG</span>
					</a>
				</div>
				<div class="header__navbar">
					<ul class="list-unstyled">
						<li class="has-sub" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#"> <i class="fas fa-desktop"></i> <span class="bot-line"></span>
								DANH MỤC BÁN HÀNG
						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/supplier/list}">NHÀ CUNG CẤP</a></li>
								<li><a th:href="@{/admin/category/list}">CHỦNG LOẠI SẢN PHẨM</a></li>
								<li><a th:href="@{/admin/product/list}">SẢN PHẨM</a></li>
								<li><a th:href="@{/admin/employee/list}">NHÂN VIÊN BÁN HÀNG</a></li>
							</ul></li>
						<li class="has-sub"><a href="#"> <i class="fas fa-copy"></i> <span class="bot-line"></span>BÁN HÀNG/LẬP HÓA ĐƠN						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/staff/product/list}">SẢN PHẨM</a></li>
								<li><a th:href="@{/staff/customer/list}">KHÁCH HÀNG</a></li>
								<li><a th:href="@{/staff/shipper/list}">NGƯỜI GIAO HÀNG</a></li>
								<li><a th:href="@{/staff/order/list}">HÓA ĐƠN BÁN HÀNG</a></li>
							</ul></li>
						<li class="has-sub"><a th:href="@{/staff/cart-item/list}"> <i class="fas fa-shopping-cart"></i> <span class="bot-line"></span>GIỎ HÀNG
						</a></li>
						<li class="has-sub" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a href="#"> <i class="fas fa-user"></i> <span class="bot-line"></span>QUẢN LÝ
								ĐĂNG NHẬP
						</a>
							<ul class="header3-sub-list list-unstyled">
								<li><a th:href="@{/admin/accounts}">TÀI KHOẢN</a></li>
							</ul></li>
					</ul>
				</div>
				<div class="header__tool">
					<div class="account-wrap">
						<div class="account-item account-item--style2 clearfix js-item-menu">
							<div class="image">
								<img class="rounded" th:src="${#authentication.principal.pathImage}" />
							</div>
							<div class="content">
								<a class="js-acc-btn" th:href="@{/member/profile}" sec:authentication="principal.name"></a>
							</div>
							<div class="account-dropdown js-dropdown">
								<div class="info clearfix">
									<div class="image">
										<img class="rounded" th:src="${#authentication.principal.pathImage}" />
									</div>
									<div class="content">
										<h5 class="name">
											<a th:href="@{/member/profile}" sec:authentication="principal.name"></a>
										</h5>
										<span class="email" th:text="${#authentication.principal.roleId == 1 ? 'ADMIN' : 'Nhân Viên'}"></span>
									</div>
								</div>
								<div class="account-dropdown__body">
									<div class="account-dropdown__item">
										<a th:href="@{/member/profile}"> <i class="zmdi zmdi-account"></i>THÔNG TIN TÀI KHOẢN
										</a>
									</div>
									<div class="account-dropdown__item">
										<a th:href="@{/member/doi-mat-khau}"> <i class="zmdi zmdi-account"></i>ĐỔI MẬT KHẨU
										</a>
									</div>
								</div>
								<div class="account-dropdown__footer">
									<a th:href="@{/dang-xuat}"> <i class="zmdi zmdi-power"></i>ĐĂNG XUẤT
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- HEADER MOBILE-->
	<header class="header-mobile header-mobile-2 d-block d-lg-none">
		<div class="header-mobile__bar">
			<div class="container-fluid">
				<div class="header-mobile-inner">
					<a class="logo" href="/"> <span style="color: #fff; font-weight: bold;"> QUẢN LÝ BÁN HÀNG ONLINE </span>
					</a>
					<button class="hamburger hamburger--slider" type="button">
						<span class="hamburger-box"> <span class="hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>
		</div>
		<nav class="navbar-mobile">
			<div class="container-fluid">
				<ul class="navbar-mobile__list list-unstyled">
					<li sec:authorize="hasAnyRole('ROLE_ADMIN')" class="has-sub"><a class="js-arrow" href="#"> <i class="fas fa-desktop"></i>
							DANH MỤC BÁN HÀNG
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/supplier/list}">NHÀ CUNG CẤP</a></li>
							<li><a th:href="@{/admin/category/list}">CHỦNG LOẠI SẢN PHẨM</a></li>
							<li><a th:href="@{/admin/product/list}">SẢN PHẨM</a></li>
							<li><a th:href="@{/admin/employee/list}">NHÂN VIÊN BÁN HÀNG</a></li>
						</ul></li>
					<li class="has-sub"><a class="js-arrow" href="#"> <i class="fas fa-copy"></i>BÁN HÀNG/LẬP HÓA ĐƠN
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/staff/product/list}">SẢN PHẨM</a></li>
							<li><a th:href="@{/staff/customer/list}">KHÁCH HÀNG</a></li>
							<li><a th:href="@{/staff/shipper/list}">NGƯỜI GIAO HÀNG</a></li>
							<li><a th:href="@{/staff/order/list}">HÓA ĐƠN BÁN HÀNG</a></li>
						</ul></li>
					<li><a th:href="@{/staff/cart-item/list}"> <i class="fas fa-shopping-cart"></i>GIỎ HÀNG
					</a></li>
					<li class="has-sub"><a class="js-arrow" href="#"> <i class="fas fa-user"></i>QUẢN
								LÝ ĐĂNG NHẬP
					</a>
						<ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
							<li><a th:href="@{/admin/accounts}">TÀI KHOẢN</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="sub-header-mobile-2 d-block d-lg-none">
		<div class="header__tool">
			<div class="account-wrap">
				<div class="account-item account-item--style2 clearfix js-item-menu">
					<div class="image">
						<img th:src="${#authentication.principal.pathImage}" />
					</div>
					<div class="content">
						<a class="js-acc-btn" th:href="@{/member/profile}" sec:authentication="principal.name"></a>
					</div>
					<div class="account-dropdown js-dropdown">
						<div class="info clearfix">
							<div class="image">
								<a th:href="@{/member/profile}"> <img th:src="${#authentication.principal.pathImage}" />
								</a>
							</div>
							<div class="content">
								<h5 class="name">
									<a th:href="@{/member/profile}" sec:authentication="principal.name"></a>
								</h5>
								<span class="email" th:text="${#authentication.principal.roleId == 1 ? 'ADMIN' : 'Nhân Viên'}"></span>
							</div>
						</div>
						<div class="account-dropdown__body">
							<div class="account-dropdown__body">
								<div class="account-dropdown__item">
									<a th:href="@{/member/profile}"> <i class="zmdi zmdi-account"></i>THÔNG TIN TÀI KHOẢN
									</a>
								</div>
								<div class="account-dropdown__item">
									<a th:href="@{/member/doi-mat-khau}"> <i class="zmdi zmdi-account"></i>ĐỔI MẬT KHẨU
									</a>
								</div>
							</div>
						</div>
						<div class="account-dropdown__footer">
							<a th:href="@{/dang-xuat}"> <i class="zmdi zmdi-power"></i>ĐĂNG XUẤT
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HEADER MOBILE -->
</div>